
name: ci-test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: 'Asia/Shanghai'  # 设置时区为中国上海

    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: simple_bank
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s 
          --health-timeout 5s
          --health-retries 5


    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.5'
      id: go

    - name: Install golang-migrate
      run: |
        curl -L https://github.com/golang-migrate/migrate/releases/download/v4.18.1/migrate.linux-amd64.tar.gz | tar xvz
        sudo mv migrate /usr/bin/migrate
        which migrate

    - name: Check PostgreSQL NOW()
      run: |
        echo "Current date and time in PostgreSQL (UTC):"
        PGPASSWORD=secret psql -h localhost -U root -d simple_bank -c "SELECT NOW() AT TIME ZONE 'UTC';"
     
    - name: Run migrations
      run: make migrateup

    - name: Check accounts table structure
      run: |
        PGPASSWORD=secret psql -h localhost -U root -d simple_bank -c "\l"  # List databases
        PGPASSWORD=secret psql -h localhost -U root -d simple_bank -c "\dt"  # List tables in public schema
        PGPASSWORD=secret psql -h localhost -U root -d simple_bank -c "\d accounts"  # Describe the accounts table
  

    - name: Test
      run: make test
